body {
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    background-color: #0C1830;
    font-family: Raleway, sans-serif;
    cursor: 
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>") 16 0,auto;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.button {
    color: #fff;
    background-color:rgba(55, 214, 185, 0.85);
    
    border: none;
    padding: 1rem;
    width: 100px;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 3px #0000006e;
}

.button:hover {
    background-color: rgb(118, 130, 153);;
}

/* navbar */
.navbar {
    border-bottom: 1px solid white;
    position: fixed;
    display: block;
    width: 100%;
    padding-top: .75rem;
    padding-bottom: 1.25rem;
    z-index: 2;
    background-image: linear-gradient(to bottom, #141212, #00000041);
  }
  .navbar-solid {
    background-image: unset;
    background-color: #0C1830;
  }
  .flexy {
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    width: 42rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
  }
  .nav-links .active {
    color: #37D6B9;
  }
  .nav-link:hover {
    color: #37D6B9;
  }
  
/* mobile navbar */
.menuToggle {
    position: relative;
    display: none;
    -webkit-user-select: none;
    user-select: none;
    padding-right: 2rem;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:nth-child(3) {
  transform-origin: 0% 100%;
}
@media (max-width: 500px) {
  .nav-links {
    display: none;
  }
  .menuToggle {
    display: block;
  }
  .nav-links.menu-open {
    background-color: #0C1830;
    display: flex;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid white;
    overflow: hidden;
    transition: .3s;
  }
  .nav-flex {
    align-items: baseline;
  }
  /* switch hamburger -> "x" on click */
  .menuToggle span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  .menuToggle.menu-open > span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }
  .menuToggle.menu-open > span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menuToggle.menu-open > span:nth-child(3) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}

/* footer */
#footer {
    padding: 3rem;
    height: 9rem;
    color: #BFC3CD;
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: #0C1830;
}

#footer a {
font-weight: 400;
}

#footer i {
font-size: 2rem;
margin: 0 1rem;
}

.footer-box {
width: 70%;
margin: 0 auto;
padding: 5rem;
}

@media screen and (max-width: 600px) {
    #footer {
        flex-direction: column-reverse;
        height: 20rem;
    }
}
