/* ---- anime ---- */
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
@keyframes comeRight {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes comeLeft {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes comeIn {
  100% {
    opacity: 1;
  }
}

@keyframes moveUp{
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.comeIn {
  animation-name: comeIn;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.comeLeft {
  animation-name: comeLeft;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.comeRight {
  animation-name: comeRight;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.white {
  background-color: white !important;
}
.white-text {
  color: white !important;
}

.site-max-width {
  max-width: 1400px;
  margin: auto;
}

#myCanvas {
    position: absolute;
    width: 100% !important;
    height: 90vh !important;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
  font-size: 9rem;
  text-shadow: 2px 2px 5px rgb(43, 43, 43);
}

.home-button {
  color: #fff;
  background-color:rgba(55, 214, 185);
  text-shadow: 2px 2px rgb(54, 54, 54);
  margin-top: 4rem;
  opacity: 0;
  
  border: none;
  padding: 2rem;
  border-radius: 5px;
  font-size: 2rem;
  right: 32px;
  bottom: 16px;
  cursor: pointer;
  letter-spacing: 2px;
  
  transform: translateY(2rem);
  animation-name: moveUp;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 2s;
}

.home-button:hover {
  background-color: rgb(118, 130, 153);
}

/*button:hover {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}*/

.header-desc {
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(43, 43, 43);
  opacity: 0;
  
  transform: translateY(2rem);
  animation-name: moveUp;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 2s;
}

/* site name header */
.heading-box{
    padding-top: 40vh;
    height: 0;
    text-align: center;
    padding-bottom: 60vh;
}
#site-name-animated.show span{
  opacity: 1;
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -o-transform: scale(1,1);
  transform: scale(1,1);
}
#site-name-animated.show {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  margin-bottom: 4rem;
}
#site-name-animated span {
  transition: opacity .5s ease-out, transform .5s ease-out;
  margin-right: 2.7rem;
  display: inline-block;
  opacity: 0;
  transform: scale(1.9,1.9);
  color: #EAE8FF;
}

#site-name-animated.show .c5 {
  margin-right: 7.5rem;
}

@media screen and (max-width: 700px) {
  #site-name-animated span{
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  #site-name-animated span{
    font-size: 7rem;
  }
}
@media screen and (max-width: 450px) {
  #site-name-animated span{
    font-size: 5rem;
  }
}

 /* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: 
  linear-gradient(to bottom, #050303, #0C1830, #050303); 
}

/* Scroll down */
.contain {
  width: 70%;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 25rem;
}

/* section styling */

section {
  padding: 5rem 3rem;
}

/* section headings */
.section-heading {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  /* or 79px */
  letter-spacing: 0.1em;
  color: #37D6B9;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  text-transform: uppercase;
}

.section-subheading {
  text-shadow: rgba(255, 255, 255, 0.25) 2px 2px 4px;
  font-weight: 200;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
}

/* sections */

.info-section {
  color: rgb(255, 255, 255);
  margin: auto;
  margin-bottom: 3rem;
  width: 80%;
  opacity: 0;
}

#about-us div {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

#our-mission div {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.mission-img {
  float: right;
  border-radius: 2rem;
  width: 35%;
}



