/* ---- anime ---- */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes comeRight {
    0% {
        opacity: 0;
        transform: translateX(-30rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes comeLeft {
    0% {
        opacity: 0;
        transform: translateX(30rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes comeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.comeIn {
    animation-name: comeIn;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.comeLeft {
    animation-name: comeLeft;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.comeRight {
    animation-name: comeRight;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

body {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    background-color: #ffffff;
    font-family: Raleway, sans-serif;
}

img {
    width: 250px;
}

.white {
    background-color: white !important;
}

.white-text {
    color: white !important;
}

.site-max-width {
    max-width: 1400px;
    margin: auto;
}

.navbar {
    border-bottom: 1px solid white;
    position: fixed;
    display: block;
    width: 100%;
    padding-top: .75rem;
    padding-bottom: 1.25rem;
    z-index: 2;
    background-image: linear-gradient(to bottom, #141212, #00000041);
}

.navbar-solid {
    background-image: unset;
    background-color: #0C1830;
}

.flexy {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    width: 35rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
}

.nav-links .active {
    color: #37D6B9;
}

.void-logo:hover {
    fill: white;
}

.nav-link:hover {
    color: #37D6B9;
}

.site-brand {
    color: white;
    font-size: 3.6rem;
}

.logo-box {
    margin-left: 1rem;
    color: white;
    display: flex;
    width: 13rem;
    align-items: center;
    justify-content: space-between;
}

.void-logo {
    height: 3.5rem;
    width: 3.5rem;
    fill: #37D6B9;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    cursor: pointer;
}

.infinite {
    transform: rotate(360deg);
    transition: 500ms;
}

/* mobile navbar */
.menuToggle {
    position: relative;
    display: none;
    -webkit-user-select: none;
    user-select: none;
    padding-right: 2rem;
}

.menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

.menuToggle span:nth-child(3) {
    transform-origin: 0% 100%;
}

@media (max-width: 500px) {
    .nav-links {
        display: none;
    }

    .menuToggle {
        display: block;
    }

    .nav-links.menu-open {
        background-color: #0C1830;
        display: flex;
        position: absolute;
        width: 100%;
        height: 200px;
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid white;
        overflow: hidden;
        transition: .3s;
    }

    .nav-flex {
        align-items: baseline;
    }

    /* switch hamburger -> "x" on click */
    .menuToggle span:nth-child(3) {
        transform-origin: 0% 100%;
    }

    .menuToggle.menu-open>span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }

    .menuToggle.menu-open>span:nth-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menuToggle.menu-open>span:nth-child(3) {
        transform: rotate(-45deg) translate(0, -1px);
    }
}

#myCanvas {
    position: absolute;
    width: 100% !important;
    height: 90vh !important;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 9rem;
    text-shadow: 2px 2px 5px rgb(43, 43, 43);
}

.heading-box {
    padding-top: 15vh;
    height: 20rem;
    text-align: center;
    padding-bottom: 0vh;
}

#site-name-animated {
    font-size: 4rem;
}

#site-name-animated.show span {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

#site-name-animated.show {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    margin-bottom: 4rem;
}

#site-name-animated span {
    transition: opacity .5s ease-out, transform .5s ease-out;
    margin-right: 2.7rem;
    display: inline-block;
    opacity: 0;
    transform: scale(1.9, 1.9);
    color: #EAE8FF;
}

#site-name-animated.show .c5 {
    margin-right: 7.5rem;
}

@media screen and (max-width: 700px) {
    #site-name-animated span {
        margin-right: 0;
    }
}

@media screen and (max-width: 550px) {
    #site-name-animated span {
        font-size: 7rem;
    }
}

@media screen and (max-width: 450px) {
    #site-name-animated span {
        font-size: 5rem;
    }
}

.header-desc {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(43, 43, 43);
    opacity: 0;
    transform: translateY(2rem);
    animation-name: moveUp;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 1.5s;
    animation-duration: 2s;
}

@keyframes moveUp {
    60% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.linkedin-text{
    text-decoration: underline;
    color:#37D6B9;
}

.eboard-pictures {
    display: flex;
    flex-direction: column;
}

#eboard-row-1{
    padding-top: 5rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#eboard-row-2 {
    padding-bottom: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.member-description{
    color: white;
}

@media screen and (max-width: 700px) {
    #eboard-row1 {
        flex-direction: column;
        align-items: center;
    }
    #eboard-row2 {
        flex-direction: column;
        align-items: center;
    }
    .eboard-member {
        margin-bottom: 5rem;
    }
    .eboard-member-2 {
        margin-bottom: 5rem;
    }
}
/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: -1;
    background-image:
        linear-gradient(to bottom, #050303, #0C1830, #050303);
}

/* Scroll down */
.contain {
    width: 70%;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 25rem;
}

/* footer */
#footer {
    padding: 4rem;
    height: 12rem;
    color: #BFC3CD;
    font-size: 2rem;
    margin: 0 auto;
    background-color: #0C1830;
}

#footer a {
    font-weight: 700;
}

#footer i {
    font-size: 4rem;
    margin: 0 1rem;
}

.footer-box {
    width: 70%;
    margin: 0 auto;
    padding: 5rem;
}

@media screen and (max-width: 600px) {
    #footer {
        flex-direction: column-reverse;
        height: 20rem;
    }
}